
<div id="dm_zone_{{ node.node.id }}" class="dm_zone{%if node.node.cssClass %} {{node.node.cssClass}}{% endif %}{%if node.isRoot %} root_node{% endif %}"{%if node.node.width %} style="width:{{node.node.width}}"{% endif %}>
     <a class="dm dm_zone_edit" title="Edit this zone"></a>
        
        {% if node.leaf and false %}
        <div class="dm_widgets">{{ node.node.cssClass }}</div>
        {% endif %}
        
        <div class="dm_zones">
            {{ node.node.cssClass }}
            {{ innerZones|raw }}
        </div>
        
</div>
